<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
        <h1>Welcome <%=@user.username%></h>
        <h2>Your Balance is: <%=@user.balance%></h2><br>
        <p><a href="/logout">Log Out</a></p>
  </body>
</html>